Django==1.6.5
Flask-RESTful==0.2.12
Flask==0.10.1
Jinja2==2.7.3
Markdown==2.4.1
MarkupSafe==0.23
Pyro4==4.26
South==1.0
Werkzeug==0.9.6
aniso8601==0.83
django-extensions==1.3.8
django-filter==0.7
django-grappelli==2.5.3
django-model-utils==2.1.0
djangorestframework-chain==0.1.3
djangorestframework==2.3.14
gnureadline==6.3.3
gunicorn==19.1.0
ipython==2.1.0
itsdangerous==0.24
pyserial==2.7
pytz==2014.7
serpent==1.7
six==1.7.3
wsgiref==0.1.2
git+https://github.com/thearn/Python-Arduino-Command-API.git
